
header img {
     float:left;
     margin-right:20px;
 }
header,footer{
    background:gray;
}
header div{
    vertical-align:central;
}
#content, header div,footer p{
    max-width:960px;
    margin:auto;
}
nav a{
    float:left;
    margin-right:20px;
}
footer{
    height:30px;
    padding-top:15px;
}

tr:nth-child(even){
   background:gray;     
}
table,th,td{
    border:1px solid black;
}




